.clearfix::after {
    clear: both;
    content: '';
    display: table;
  }

  .container {
    margin: auto;
    max-width: 1200px;
  }

.align-icon {
      vertical-align: text-top;
  }

.m-y-1 {
    margin-bottom: 1px;
    margin-top: 1px;
}
