.text-center {
    text-align: center;
}

.main-container {
    padding: 0px 30px !important;
}

.spacer {
    margin-bottom: 30px;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.full-width {
  width: 100%;
}
