
.hero-section {
    padding: 0px 0px 50px 0px;
}


.featured-section {
    padding: 50px 0;

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 60px $gutter;

        .product-price {
            color: $text-color-light !important;
        }

        img {
            max-width: 170px;
            max-height: 140px;
        }
    }
}



.blog-section {
    background: $light-gray-background;
    border-top: 1px solid $separator-color;
    padding: 50px 0;
    grid-area: blog-section;


    .blog-posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $gutter;
        margin: 60px 0 60px;
        grid-template-areas:
        "blog1 blog2 blog3";

        #blog1 {
            grid-area: blog1;
        }

        #blog2 {
            grid-area: blog2;
        }

        #blog3 {
            grid-area: blog3;
        }
    }

}

.swiper-container.swiper-1 {
    .swiper-wrapper{
        .swiper-slide {
            img {
                width: 100%;
                max-height: 370px;
                min-height: 144px;
                position:relative
            }

            .banner-product-name {
                position: absolute;
                top: 25%;
                left: 20%;
                text-transform: capitalize;
                font-size: 28px;
                font-weight: 700;
            }

            .banner-product-price-desc {
                position: absolute;
                top: 38%;
                left: 20%;
                font-weight: 700;
            }

            .banner-product-stock-status {
                position: absolute;
                top: 45%;
                left: 20%;
                font-size: 20px;
            }

            .banner-product-btn {
                position: absolute;
                top: 58%;
                left: 20%;

                a {
                    background-color: #FDD622;
                    padding: 7px 14px;
                    border-radius: 20px;

                    &:hover {
                        color: #000000;
                    }
                }
            }

        }
    }
}


.swiper-container.swiper-2 {
    .swiper-wrapper{
        .swiper-slide {
            text-align: center;
            div {
                padding: 0px 20%;

                .review-avatar {
                    width: 100px;
                    border-radius: 50%;
                }

                .review-name {
                    font-weight: 700;
                }

                .review-details {
                    color: #919191
                }
            }
        }
    }
}
