.my-orders {
    .order-container {
        margin-bottom: 64px;
        border-radius: 10px;
        border: 1px solid #DDDDDD;
        overflow: hidden;
    }
    .order-header {
        background: #F6F6F6;
        padding: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .order-products {
        background: white;
        border-top: none;
        padding: 14px;
        overflow-x: auto;
        display: flex;
    }

    .order-header-items {
        display: flex;

        .order-id {
            margin-right: 10px;
            font-weight: bold;
            color: rgb(56, 102, 223);
            font-size: 1.1667rem;
            text-transform: uppercase;
        }

        .order-date {
            color: #7e859b;
            line-height: 2;
            font-size: 14px;
        }
    }

    .order-product-item {
        display: flex;
        margin: 20px 6px 20px;;

        img {
            max-width: 110px;
            margin-right: 24px;
        }

        .order-product-info{
            width: 200px;
        }
    }


    .single-order-container {
        margin-bottom: 25px;
        overflow: hidden;
        background-color: #F5F5F5;
        box-shadow: #dddddd 0px 1px 5px 2px;
        border-radius: 3px;
        padding: 15px;

        .order-header {
            background-color: #F5F5F5;
            padding: 0px;
            border-bottom: 1px solid $white;

            .order-details-heading {
                font-weight: 700;
                font-size: 15px;
                margin-right: 5px;
            }
        }

        .order-body {
            background-color: #F5F5F5;
            border-top: none;
            padding: 10px 0px 0px 0px;

            .order-details-heading {
                text-transform: uppercase;
                padding-top: 5px;
                font-weight: 700;
                font-size: 14px;
            }
            .order-details {
                font-size: 14px;
                color: #7e859b;
            }

            .divider {
                width: 100%;
                height: 1px;
                background-color: $white;
                margin-top: 10px;
            }

            .order-summary  {
                display: flex;
                justify-content: space-between;

                .discount {
                    color: #86CE71;
                }

                .total {
                    font-weight: 700;
                }
            }
            .order-summary:not(:first-child)  {
                margin-top: 10px;
            }
        }
    }

    .my-alert-danger {
        box-shadow: none;
    }

    .my-alert-success {
        box-shadow: none;
    }
}

@media only screen and (max-width: 557px){
    .order-header-items-left {
        display: flex;
        flex-direction: column;
    }
}
