
.search-header {
    padding: 20px 0px;
}
.products-search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px $gutter;

    .product{
        display: flex;

        img {
            border: 1px solid lightgray;
        }

        .product-info {
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            justify-content: center;
            text-align: initial;
            padding-left: 20px;
        }
    }
    .product-price {
        color: $text-color-light;
    }
}


.products-header {
    display: flex;
    justify-content: space-between;
}

