.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.my-alert-danger {
    color: #721C24 !important;
    background-color: #F8D7DB !important;
    border: 1px solid #f5c7cb !important;
}

.my-alert-success {
    color: #165724 !important;
    background-color: #D4EDDA !important;
    border: 1px solid #BEE0C5 !important;
}
