
header {
    background: $gray-background;

    .top-nav {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        //letter-spacing: 1.5px;

        .logo {
            font-weight: bold;
            font-size: 28px;
            color: $white;
        }

        ul {
            display: flex;
            text-transform: uppercase;
            //justify-content: space-between;
            //width: 40%;
            padding-top: 8px;
            font-weight: 400;
            gap: 38px;

            a {
                color: $white;

                &:hover {
                    color: darken($white, 10%);
                }
            }

            .change-lang {
                border: 1px solid $white;
                padding: 4px 17px;
                font-size: 14px;
                text-transform: capitalize;
                border-radius: 10px;
                transition: all .3s ease-in-out;

                &:hover {
                    border: 1px solid $white;
                    background: $white;
                    color: $gray-background;
                }
            }


            .cart-count {
                display: inline-block;
                // position: absolute;
                // right: 0;
                // top: -22px;
                // right: -24px;
                background: $cart-count;
                color: $text-color;
                line-height: 0;
                border-radius: 50%;
                font-size: 14px;

                span {
                    display: inline-block;
                    padding-top: 50%;
                    padding-bottom: 50%;
                    margin-left: 6px;
                    margin-right: 6px;
                }
            }

        }
    }

    .top-nav-right{
        display: flex;
        align-items: center;
    }

    .top-nav-left{
        display: flex;
        align-items: center;
        gap: 58px;

        .logo {
            font-weight: bold;
            font-size: 28px;

            img {
                display: flex;
                width: 220px;
            }
        }
    }
}
